Flask==2.1.2
matplotlib==3.5.2
matplotlib-inline==0.1.3
numpy==1.22.4
pandas==1.4.2
pandasql==0.7.3
pandastable==0.13.0
pandocfilters==1.5.0
plotly==5.8.2
scikit-image==0.19.3
scikit-learn==1.1.1
scipy==1.8.1
Scrapy==2.6.1
seaborn==0.11.2


